<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<dom-module id="visor-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h1>Id  de usuario </h1>
    <input type="number" min="1" max="66" value="{{id::input}}"/>
    <h2>Datos de usuario con id: {{id}}</h2>
    <h3> Nombre : {{first_name}} {{last_name}}</h3>
    <h4> Email: {{email}}</h4>
    <h5> Logueado: {{logged}}</h5>

    <iron-ajax auto id="getUser" url="http://localhost:3000/apitechu/v2/users/{{id}}" handle-as="json" on-response="showData">

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
          id:{type: Number},
          first_name: {type: String},
          last_name: {type: String},
          email: {type: String},
          logged: {type: Boolean}
        };
      }
      showData(data){
      console.log("Show data");
      console.log(data.detail.response);
      //asignar las propiedad
      this.first_name=data.detail.response.first_name;
      this.last_name=data.detail.response.last_name;
      this.email=data.detail.response.email;
      this.logged=data.detail.response.logged;
      }
    }


    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
