<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<dom-module id="visor-cuenta">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    Id usuario<input type="number" min="1" max="99" value="{{id::input}}"/>
    <h1>Datos de cuenta con id: {{id}}</h1>
    <h2> IBAN : {{iban}} </h2>
    <h3> Saldo: {{balance}}</h3>

    <iron-ajax auto id="getAccount" url="http://localhost:3000/apitechu/v2/users/{{id}}/accounts" handle-as="json" on-response="showData">

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuenta extends Polymer.Element {
      static get is() { return 'visor-cuenta'; }
      static get properties() {
        return {
          id:{type: Number},
          iban:{type: String},
          balance: {type: Number}

        };
      }
      showData(data){
      console.log("Show data");
      console.log(data.detail.response);
      //asignar las propiedad

      this.id=data.detail.response[0].id;
      this.iban=data.detail.response[0].iban;
      this.balance=data.detail.response[0].balance;
      }
    }


    window.customElements.define(VisorCuenta.is, VisorCuenta);
  </script>
</dom-module>
