<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="frontproyecto-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Soy [[first_name]] [[last_name]]</h2>
    <h3>y tengo [[age]] años</h3>
<h4> Nombre
    <input type="text" value="{{first_name::input}}"/>
  </h4>
<h5>Apellido
    <input type="text" value="{{last_name::input}}"/>
  </h5>
  <h6> Edad
    <input type="range" min="18" max="66" value="{{age::input}}"/>
  </h6>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class FrontproyectoApp extends Polymer.Element {
      static get is() { return 'frontproyecto-app'; }
      static get properties() {
        return {
          first_name: {
            type: String
          },
          last_name: {
            type: String
          },
          age: {
            type: Number
              }
        };
      }
    }

    window.customElements.define(FrontproyectoApp.is, FrontproyectoApp);
  </script>
</dom-module>
