<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <h2>Login de usuario </h2>
    <input type="email" placeholder="Email" value="{{email::input}}"/>
    <input type="password" placeholder="Password" value="{{password::input}}"/>
    <button on-click="login">Login</button>

    <iron-ajax
    id="doLogin"
    method="POST"
    url="http://localhost:3000/apitechu/v2/login"
    content-type="application/json"
    handele-as="json"
    on-response="mangeAJAXResponse"
    on-error="showError">

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          id:{type: Number},
          first_name: {type: String},
          last_name: {type: String},
          email: {type: String},
          password: {type: String}
        };
      }
      mangeAJAXResponse(data){
      console.log("mangeAJAXResponse");
      console.log(data.detail.response);
      alert(data.detail.response.msg);
      }

      showError(error){
      console.log("ErrorAPIresponse");
      console.log(error);
      alert(error.detail.error.message);
      }

      login(){
        console.log("Botón login pulsado");
        var loginData={
            "email" : this.email,
            "password" : this.password
        };
        this.$.doLogin.body=JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
        console.log("Petición enviada");
      }
    }


    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
